a {
  text-decoration: none;
} 

li {
  list-style: none;
}

.container-fluid {
  background: #F2F5FA;
  min-height: 100vh;
}

.sidebar {
  width: 290px!important;
}

.main {
  width: 100%;
  min-height: 100vh;
  padding: 0 15px;
  background: #fff;
}

.board {
  background: #F2F5FA;
}

.card {
  padding: 10px;
}

.card-watch {
  width: 100%;
  padding: 0 5px;
  font-size: 12px;
  color: #B7B9BB;
}

.card-status {
  margin-right: 15px;
}

.card-additional {
  display: flex;
}

.card-scheme {
  padding: 0 10px;
  border-radius: 20px;
  background: #F2F5FA;
}

.list-subtask li {
  display: flex;
  padding: 7px 0;
}

.list-subtask li{
  border-bottom: 1px solid #F1F1F1;
}
.list-subtask li:first-child{
  border-top: 1px solid #F1F1F1;
}