@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #B7B9BB;
  text-decoration: none;
} 

li {
  list-style: none;
}

.container-fluid {
  background: #F2F5FA;
  min-height: 100vh;
}

.sidebar {
  width: 290px!important;
}

.main {
  width: 100%;
  min-height: 100vh;
  padding: 0 15px;
  background: #fff;
}

.board {
  background: #F2F5FA;
}

.board-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.card {
  padding: 10px;
}

.card-title {
  color: #000;
}

.card-body {
  cursor: auto;
}

.card-container {
  min-height: 400px;
}

.card-watch {
  width: 100%;
  padding: 0 5px;
  font-size: 12px;
  color: #B7B9BB;
}

.card-status {
  margin-right: 15px;
}

.card-additional {
  display: flex;
}

.card-scheme {
  padding: 0 10px;
}

.card-scheme-border {
  border-radius: 20px;
  background: #F2F5FA;
}

.list-subtask li {
  display: flex;
  padding: 7px 0;
}

.list-subtask li{
  border-bottom: 1px solid #F1F1F1;
}
.list-subtask li:first-child{
  border-top: 1px solid #F1F1F1;
}

/* modal window */

.modal-card {
  position: absolute;
  right: 0;
  top: 0;
  width: 860px;
  max-height: 100vh;
  background-color: #fff;
  box-shadow: 0px 5px 20px rgba(21, 27, 38, 0.08);
  font-size: 14px;
  color: #96999C;
}

.list-subtask {
  color: #333333;
}

.modal-card .list-subtask li {
  display: flex;
  justify-content: space-between;
}

.btn-work-task {
  padding: 5px 15px;
  background:#F2F5FA;
}

.btn-work-task-complete {
  background:#97C95D;
}

.modal-card table td {
  padding: 5px 0px;
  font-size: 14px;
}

.modal-card table td:first-child {
  padding-right: 30px;
}

.list-comments {
  overflow: auto;
  max-height: 270px;
}

.list-comments li {
  display: flex;
  padding: 7px 0;
  color: #333333;
}

.list-comments li{
  border-bottom: 1px solid #F1F1F1;
}

.list-comments li:first-child{
  border-top: 1px solid #F1F1F1;
}

.user-name b{
  font-style: 12px;
}

.time-out {
  font-style: 12px;
  color: #B7B9BB;
}

.modal-comments {
  font-size: 14px;
}